In [17]:
import numpy as np
import pandas as pd

data = {
    "Viewer 1": {"Movie 1": 5, "Movie 2": 1, "Movie 3": 4},
    "Viewer 2": {"Movie 1": 4, "Movie 2": 4, "Movie 3": 2},
    "Viewer 3": {"Movie 1": 4, "Movie 2": 3, "Movie 3": 5},
    "Viewer 4": {"Movie 1": 1, "Movie 2": 1, "Movie 3": 5},
    "Viewer 5": {"Movie 1": 3, "Movie 2": 2, "Movie 3": 1}
}

array = np.array([[data[viewer][movie] for movie in data[viewer]] for viewer in data])

In [16]:
array

array([[5, 1, 4],
       [4, 4, 2],
       [4, 3, 5],
       [1, 1, 5],
       [3, 2, 1]])

In [18]:
df = pd.DataFrame(array, columns=data["Viewer 1"], index=data.keys())

In [19]:
df

          Movie 1  Movie 2  Movie 3
Viewer 1        5        1        4
Viewer 2        4        4        2
Viewer 3        4        3        5
Viewer 4        1        1        5
Viewer 5        3        2        1

In [20]:
avg_rate = df.mean(axis=0)
avg_rate

Movie 1    3.4
Movie 2    2.2
Movie 3    3.4
dtype: float64

In [32]:
# Viewer Preference: The highest-rated movie by each viewer.

viewer_pref = df.idxmax(axis=1)
viewer_pref

Viewer 1    Movie 1
Viewer 2    Movie 1
Viewer 3    Movie 3
Viewer 4    Movie 3
Viewer 5    Movie 1
dtype: object