# Analysis Of Airplane Crashes|

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_airplane = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908_t0_2023.csv',encoding='latin-1')
df = df_airplane.copy()
df.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,9/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,9/7/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,7/12/1912,6:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,8/6/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,9/9/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   4998 non-null   object
 1   Time                   3486 non-null   object
 2   Location               4994 non-null   object
 3   Operator               4988 non-null   object
 4   Flight #               1329 non-null   object
 5   Route                  4221 non-null   object
 6   AC Type                4983 non-null   object
 7   Registration           4724 non-null   object
 8   cn/ln                  4330 non-null   object
 9   Aboard                 4980 non-null   float64
 10  Aboard Passangers      4769 non-null   float64
 11  Aboard Crew            4772 non-null   float64
 12  Fatalities             4990 non-null   float64
 13  Fatalities Passangers  4756 non-null   float64
 14  Fatalities Crew        4757 non-null   float64
 15  Ground                 4956 non-null   float64
 16  Summary                4934 non-null   object
dtypes: float64(7), object(10)
memory usage: 663.9+ KB

In [6]:
df.shape

(4998, 17)

# Data preprocessing

In [8]:
# checking missings
df.isnull().sum()

Date                        0
Time                     1512
Location                    4
Operator                   10
Flight #                 3669
Route                     777
AC Type                    15
Registration              274
cn/ln                     668
Aboard                     18
Aboard Passangers         229
Aboard Crew               226
Fatalities                  8
Fatalities Passangers     242
Fatalities Crew           241
Ground                     42
Summary                    64
dtype: int64

In [14]:
df.isnull().mean()*100

Date                      0.000000
Time                     30.252101
Location                  0.080032
Operator                  0.200080
Flight #                 73.409364
Route                    15.546218
AC Type                   0.300120
Registration              5.482193
cn/ln                    13.365346
Aboard                    0.360144
Aboard Passangers         4.581833
Aboard Crew               4.521809
Fatalities                0.160064
Fatalities Passangers     4.841937
Fatalities Crew           4.821929
Ground                    0.840336
Summary                   1.280512
dtype: float64

In [12]:
EDA_columns = []

Index(['Date', 'Time', 'Location', 'Operator', 'Flight #', 'Route', 'AC Type',
       'Registration', 'cn/ln', 'Aboard', 'Aboard Passangers', 'Aboard Crew',
       'Fatalities', 'Fatalities Passangers', 'Fatalities Crew', 'Ground',
       'Summary'],
      dtype='object')

In [11]:
# checking duplicated rows
df.duplicated().sum()

0

# EDA

In [ ]:
#Use Pandas to explore basic statistics such as the number of crashes, fatalities, and survival rates

# Statistical Analysis

# Visualization

# Insight and Report