Using the Mental Health dataset and what you have learn this week, answer the following questions :

1. What is the distribution of mental health conditions among different age groups in the tech industry?
- Answer: The distribution of mental health conditions among different age groups in the tech industry indicates an increase in the prevalence of mental health issues with age.

In [1]:
# que('Age_group1')
# que('Age_group2')
# # Groups 1-5 are created according to the quintile distribution (q=[0, .2, .4, .6, .8, 1]) of the 'Age' column.

2. How does the frequency of mental health issues vary by gender?
- Answer:

3. Identify the countries with the highest and lowest reported rates of mental health issues in the tech industry.
- Answer:

In [2]:
# importing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import zipfile
from kaggle.api.kaggle_api_extended import KaggleApi

In [3]:
# Initialize Kaggle API
api = KaggleApi()
api.authenticate()  # Make sure you have properly set up your Kaggle API credentials

# Download the dataset
api.dataset_download_files("osmi/mental-health-in-tech-survey", path=".", unzip=True)

# List the files in the current directory
files = os.listdir()

# access the dataset files without saving them to a specific folder
for file in files:
    if file.endswith('.csv'):
        print(f"Found CSV file: {file}")

Found CSV file: survey.csv

In [4]:
df_mental_health = pd.read_csv('survey.csv')

In [5]:
# Introduction to the Dataset:
df = df_mental_health.copy()
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [7]:
# the data contains 27 columns (26 object, 1 int), 1259 rows

In [8]:
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [9]:
# we have missings in columns: 'comments' (i'll drop this column), 'work_interfere' (264 missings), 'self_employed' (18), 'state' (515 missings)

In [10]:
df = df.drop(columns='comments')

In [11]:
df = df.fillna('')

In [12]:
df.isna().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [13]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:31,37,Female,United States,IL,,No,Yes,Often,6-25,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,2014-08-27 11:29:37,44,M,United States,IN,,No,No,Rarely,More than 1000,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,2014-08-27 11:29:44,32,Male,Canada,,,No,No,Rarely,6-25,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,,,Yes,Yes,Often,26-100,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,2014-08-27 11:30:22,31,Male,United States,TX,,No,No,Never,100-500,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

1. What is the distribution of mental health conditions among different age groups in the tech industry?
to answer this question, firstly i need check column 'age'

In [14]:
sorted(df['Age'].unique().tolist())

[-1726,
 -29,
 -1,
 5,
 8,
 11,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 65,
 72,
 329,
 99999999999]

In [15]:
# i'll drop age < 18, replace '-29' to '29, drop > 7

In [16]:
df.loc[df['Age'] == -29, 'Age'] = 29

In [17]:
sorted(df['Age'].unique().tolist())

[-1726,
 -1,
 5,
 8,
 11,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 65,
 72,
 329,
 99999999999]

In [18]:
for x in df.index:
  if df.loc[x, 'Age'] > 72 or df.loc[x, 'Age'] <= 17:
    df.drop(x, inplace = True)

In [19]:
sorted(df['Age'].unique().tolist())

[18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 65,
 72]

In [20]:
# i won't delete rows with age > 50

In [21]:
df['treatment'].unique()

array(['Yes', 'No'], dtype=object)

In [22]:
df['treatment'] = df['treatment'].replace({'Yes':1, 'No': 0})

C:\Users\kyana\AppData\Local\Temp\ipykernel_21752\1146588969.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['treatment'] = df['treatment'].replace({'Yes':1, 'No': 0})

In [23]:
# categoryze age and create pivot table

In [24]:
bin_5 = ['Group1', 'Group2', 'Group3', 'Group4', 'Group5']

df['Age_group1'] = pd.qcut(df['Age'], q=[0, .2, .4, .6, .8, 1], labels=bin_5)

In [25]:
def categorize_age(age):
    try:
        if 18 <= age <= 29:
            return '[18-29]'
        elif 30 <= age <= 49:
            return '[30-49]'
        elif age >=  50:
            return '[50+]'
    except:
        pass

In [26]:
df['Age_group2'] = df['Age'].apply(categorize_age)

In [27]:
def que(category, data):
    data_temp = data.pivot_table(index=category, values='treatment', aggfunc=['count', 'sum', 'mean'], observed=False)
    data_temp.columns = ['num_people', 'num_people_treated', 'prop_with_disease']
   
    return (data_temp.style.format("{:.3f}").background_gradient(cmap='Blues', axis=0))
    
que('Age_group1', df)
que('Age_group2', df)

2. How does the frequency of mental health issues vary by gender?

In [28]:
df2 = df.copy()

In [29]:
# clean 'gender'

df2 = df2.replace(['man', 'Male ', 'm', 'maile', 'Male (CIS)','Cis Man' ,'Cis Male', 'msle', 'Mail', 'Make', 'Mal', 'Malr', 'Male-ish',
              'Man', 'M', 'male', 'cis male'], 'Male')

In [30]:
df2 = df2.replace(['female','Cis Female', 'F', 'Woman', 'f', 'queer/she/they','Female (cis)', 'femail', 'Trans-female','Femake', 'woman', 'Female ',
             'cis-female/femme', 'Trans woman', 'Female (trans)', 'queer'], 'Female')

In [31]:
df2['Gender'].unique()

array(['Female', 'Male', 'something kinda male?', 'non-binary', 'Nah',
       'Enby', 'fluid', 'Genderqueer', 'Androgyne', 'Agender',
       'Guy (-ish) ^_^', 'male leaning androgynous', 'Neuter',
       'ostensibly male, unsure what that really means'], dtype=object)

In [32]:
print(df2.shape)
print(df2['Gender'].unique())

(1252, 28)
['Female' 'Male' 'something kinda male?' 'non-binary' 'Nah' 'Enby' 'fluid'
 'Genderqueer' 'Androgyne' 'Agender' 'Guy (-ish) ^_^'
 'male leaning androgynous' 'Neuter'
 'ostensibly male, unsure what that really means']

In [33]:
for x in df2.index:
  if df2.loc[x, 'Gender'] not in ['Male', 'Female']:
    df2.drop(x, inplace=True)

In [34]:
print(df2.shape)
print(df2['Gender'].unique())

(1240, 28)
['Female' 'Male']

In [35]:
que('Gender', df2)

3. Identify the countries with the highest and lowest reported rates of mental health issues in the tech industry.

In [36]:
df3 = df.copy()

In [37]:
df3['Country'].unique()

array(['United States', 'Canada', 'United Kingdom', 'Bulgaria', 'France',
       'Portugal', 'Netherlands', 'Switzerland', 'Poland', 'Australia',
       'Germany', 'Russia', 'Mexico', 'Brazil', 'Slovenia', 'Costa Rica',
       'Austria', 'Ireland', 'India', 'South Africa', 'Italy', 'Sweden',
       'Colombia', 'Latvia', 'Romania', 'Belgium', 'New Zealand', 'Spain',
       'Finland', 'Uruguay', 'Israel', 'Bosnia and Herzegovina',
       'Hungary', 'Singapore', 'Japan', 'Nigeria', 'Croatia', 'Norway',
       'Thailand', 'Denmark', 'Greece', 'Moldova', 'Georgia', 'China',
       'Czech Republic', 'Philippines'], dtype=object)

In [51]:
# print(df3.groupby('Country')['treatment'].sum().nlargest(1))
# print(df3.groupby('Country')['treatment'].sum().nsmallest(1))
print(df3.groupby('Country')['treatment'].sum().sort_values(ascending=False))

Country
United States             408
United Kingdom             92
Canada                     37
Germany                    21
Australia                  13
Ireland                    13
Netherlands                 9
New Zealand                 5
Poland                      4
South Africa                4
Switzerland                 3
India                       3
Sweden                      2
Croatia                     2
Bulgaria                    2
Denmark                     2
France                      2
Brazil                      2
Slovenia                    1
Singapore                   1
Mexico                      1
Moldova                     1
Japan                       1
Italy                       1
Belgium                     1
Finland                     1
Austria                     0
Russia                      0
Bosnia and Herzegovina      0
Thailand                    0
China                       0
Colombia                    0
Spain                       0
Costa Rica                  0
Czech Republic              0
Romania                     0
Latvia                      0
Portugal                    0
Georgia                     0
Philippines                 0
Norway                      0
Nigeria                     0
Greece                      0
Hungary                     0
Israel                      0
Uruguay                     0
Name: treatment, dtype: int64