In [7]:
import pandas as pd
import numpy as np
from faker import Faker

In [1]:
# Exercise 1 : Identifying Data Types

- A companyâ€™s financial reports stored in an Excel file. - structured data
- Photographs uploaded to a social media platform. - structured data
- A collection of news articles on a website. - unstructured data
- Inventory data in a relational database. - structured data
- Recorded interviews from a market research study. unstructured data

In [ ]:
# Exercise 2 : Transformation Exercise

In [2]:
# Exercise 3 : Application Scenario

- transaction records structured data - structured data
- customer feedback comments -unstructured data
- social media posts about your brand - unstructured data
- employee work schedules - structured data

In [3]:
# Exercise 4 : Synthetic Data Generation

In [14]:
fake = Faker()
fake_list = [(fake.name(), fake.address(), fake.email(), np.random.randint(20, 60), np.random.randint(8000, 45000)) for _ in range (100)]

In [15]:
df = pd.DataFrame(fake_list, columns=['Name', 'Address', 'Email', 'Age', 'Sallary'])

In [16]:
df.head(10)

,Name,Address,Email,Age,Sallary
0,Sheryl Jennings,"1066 Carrie Point Apt. 172\nWest Mitchell, MH ...",lisa07@example.net,36,39502
1,Beth Roberts,"13830 Campbell Underpass\nTiffanyton, WI 57805",rmaynard@example.net,43,41168
2,Nichole Ward,"065 Blake Squares\nSouth Anthony, KY 08026",thomaskayla@example.net,24,36462
3,David Burke,"2432 Gregory Road\nBrianville, MD 99108",jenniferrowe@example.org,34,27389
4,David Hansen,"30475 Levine Plaza\nRamirezborough, NV 73324",zgomez@example.net,40,36022
5,Patrick Davis,Unit 7105 Box 3144\nDPO AE 55904,patricia66@example.org,41,32140
6,Thomas Rowe,"11124 William Gardens\nPort Kelly, NV 05527",acevedoryan@example.org,30,12764
7,Katherine Fields,"0641 Robert Extensions Apt. 743\nLeslieburgh, ...",ashleywilson@example.org,44,16504
8,Anne Hart,Unit 0604 Box 5675\nDPO AE 21949,gallegosroy@example.org,20,33242
9,Matthew Armstrong,"76677 Thornton Summit Suite 998\nBurnettfort, ...",tammy92@example.com,53,22748

In [4]:
# Exercise 5 : Data Augmentation For Images

In [18]:
# from tensorflow.keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img

# # Define paths
# original_dataset_dir = 'original_dataset_folder'
# augmented_dataset_dir = 'augmented_dataset_folder'

# # Create augmented dataset directory if it doesn't exist
# if not os.path.exists(augmented_dataset_dir):
#     os.makedirs(augmented_dataset_dir)

# # Create an instance of the ImageDataGenerator
# datagen = ImageDataGenerator(
#     rotation_range=30,  # Rotate images by random angles up to 30 degrees
#     width_shift_range=0.2,
#     height_shift_range=0.2,
#     shear_range=0.2,
#     zoom_range=0.2,
#     horizontal_flip=True,  # Flip images horizontally
#     vertical_flip=True,  # Flip images vertically
#     brightness_range=[0.5, 1.5]  # Vary brightness within the range [0.5, 1.5]
# )

# # Load images from the original dataset folder
# for filename in os.listdir(original_dataset_dir):
#     img = load_img(os.path.join(original_dataset_dir, filename))
#     x = img_to_array(img)
#     x = x.reshape((1,) + x.shape)  # Reshape to (1, height, width, channels)

#     # Generate augmented images
#     i = 0
#     for batch in datagen.flow(x, batch_size=1, save_to_dir=augmented_dataset_dir, save_prefix='aug', save_format='jpeg'):
#         i += 1
#         if i >= 5:  # Generate 5 augmented images per original image
#             break  # Stop augmentation loop

# print("Augmentation complete.")

In [19]:
# Exercise 6 : Simulation-Based Dataset Creation

In [17]:
# # Define parameters
# city_layout = {...}  # Dictionary defining the city layout and road network
# vehicle_types = {...}  # Dictionary defining characteristics of different vehicle types
# time_periods = {...}  # Dictionary defining different time periods and traffic conditions

# # Function to simulate traffic flow
# def simulate_traffic(num_iterations, time_period):
#     traffic_data = []
#     for _ in range(num_iterations):
#         # Simulate vehicles movement based on city layout and road network
#         for road_segment in city_layout:
#             # Simulate vehicles behavior on each road segment
#             for vehicle_type in vehicle_types:
#                 # Generate vehicle counts, speeds, etc. based on time period and road characteristics
#                 vehicle_count = ...  # Simulate vehicle counts
#                 average_speed = ...  # Simulate average speed
#                 # Add additional data such as vehicle type, road type, etc.
#                 traffic_data.append({
#                     'Time_Period': time_period,
#                     'Road_Segment': road_segment,
#                     'Vehicle_Type': vehicle_type,
#                     'Vehicle_Count': vehicle_count,
#                     'Average_Speed': average_speed
#                     # Add more fields as needed
#                 })
#     return traffic_data

# # Simulate traffic data for different time periods
# all_traffic_data = []
# for time_period in time_periods:
#     traffic_data = simulate_traffic(num_iterations=1000, time_period=time_period)
#     all_traffic_data.extend(traffic_data)

# # Convert simulated data to DataFrame
# traffic_df = pd.DataFrame(all_traffic_data)

# # Save simulated dataset to CSV file
# traffic_df.to_csv('simulated_traffic_data.csv', index=False)

TypeError: range expected at least 1 argument, got 0

In [ ]:
df['column_name'] = df['column_name'] * value