In [7]:
import pandas as pd
import numpy as np
from faker import Faker

In [1]:
# Exercise 1 : Identifying Data Types

- A companyâ€™s financial reports stored in an Excel file.
- Photographs uploaded to a social media platform.
- A collection of news articles on a website.
- Inventory data in a relational database.
- Recorded interviews from a market research study.

In [ ]:
# Exercise 2 : Transformation Exercise

In [2]:
# Exercise 3 : Application Scenario

In [3]:
# Exercise 4 : Synthetic Data Generation

In [14]:
fake = Faker()
fake_list = [(fake.name(), fake.address(), fake.email(), np.random.randint(20, 60), np.random.randint(8000, 45000)) for _ in range (100)]

In [15]:
df = pd.DataFrame(fake_list, columns=['Name', 'Address', 'Email', 'Age', 'Sallary'])

In [16]:
df.head(10)

,Name,Address,Email,Age,Sallary
0,Sheryl Jennings,"1066 Carrie Point Apt. 172\nWest Mitchell, MH ...",lisa07@example.net,36,39502
1,Beth Roberts,"13830 Campbell Underpass\nTiffanyton, WI 57805",rmaynard@example.net,43,41168
2,Nichole Ward,"065 Blake Squares\nSouth Anthony, KY 08026",thomaskayla@example.net,24,36462
3,David Burke,"2432 Gregory Road\nBrianville, MD 99108",jenniferrowe@example.org,34,27389
4,David Hansen,"30475 Levine Plaza\nRamirezborough, NV 73324",zgomez@example.net,40,36022
5,Patrick Davis,Unit 7105 Box 3144\nDPO AE 55904,patricia66@example.org,41,32140
6,Thomas Rowe,"11124 William Gardens\nPort Kelly, NV 05527",acevedoryan@example.org,30,12764
7,Katherine Fields,"0641 Robert Extensions Apt. 743\nLeslieburgh, ...",ashleywilson@example.org,44,16504
8,Anne Hart,Unit 0604 Box 5675\nDPO AE 21949,gallegosroy@example.org,20,33242
9,Matthew Armstrong,"76677 Thornton Summit Suite 998\nBurnettfort, ...",tammy92@example.com,53,22748

In [4]:
# Exercise 5 : Data Augmentation For Images

In [5]:
# Exercise 6 : Simulation-Based Dataset Creation