In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [2]:
# Load the dataset
df = pd.read_csv('C:\!Projects\DI-Bootcamp\Week4\Day4\Daily\datascience_salaries.csv')
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\!'
<>:2: SyntaxWarning: invalid escape sequence '\!'
C:\Users\kyana\AppData\Local\Temp\ipykernel_24924\3070476234.py:2: SyntaxWarning: invalid escape sequence '\!'
  df = pd.read_csv('C:\!Projects\DI-Bootcamp\Week4\Day4\Daily\datascience_salaries.csv')

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary
0,0,Data scientist,Full Time,Senior,New York City,USD,149000
1,2,Data scientist,Full Time,Senior,Boston,USD,120000
2,3,Data scientist,Full Time,Senior,London,USD,68000
3,4,Data scientist,Full Time,Senior,Boston,USD,120000
4,5,Data scientist,Full Time,Senior,New York City,USD,149000

In [3]:
# Normalize the 'salary' column
scaler = MinMaxScaler()
df['salary_normalized'] = scaler.fit_transform(df[['salary']])

In [4]:
# Select numerical columns for PCA
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()

In [5]:
# Exclude the original 'salary' column to avoid redundancy
numerical_cols.remove('salary')

In [6]:
# Apply PCA
pca = PCA(n_components=2)  # Reducing to 2 components for visualization purposes
df_pca = pca.fit_transform(df[numerical_cols])

In [7]:
# Add PCA components to the dataframe
df['PCA1'] = df_pca[:, 0]
df['PCA2'] = df_pca[:, 1]

In [8]:
# Aggregate data by 'experience_level'
experience_agg = df.groupby('experience_level')['salary'].agg(['mean', 'median']).reset_index()

In [9]:
# Display results
print("Normalized 'salary' column:")
print(df[['salary', 'salary_normalized']].head())

print("\nPCA components added to the dataframe:")
print(df[['PCA1', 'PCA2']].head())

print("\nAverage and median salaries by experience level:")
print(experience_agg)

Normalized 'salary' column:
   salary  salary_normalized
0  149000           0.601010
1  120000           0.454545
2   68000           0.191919
3  120000           0.454545
4  149000           0.601010

PCA components added to the dataframe:
         PCA1      PCA2
0 -931.620836  0.427553
1 -929.620836  0.281083
2 -928.620837  0.018454
3 -927.620836  0.281077
4 -926.620836  0.427539

Average and median salaries by experience level:
  experience_level          mean   median
0            Entry  36111.111111  30000.0
1        Executive  76076.923077  46000.0
2              Mid  51786.885246  51000.0
3           Senior  75088.033012  68000.0