In [1]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
import os
import zipfile
from kaggle.api.kaggle_api_extended import KaggleApi

In [3]:
# Initialize Kaggle API
api = KaggleApi()
api.authenticate()  # Make sure you have properly set up your Kaggle API credentials

# Download the dataset
api.dataset_download_files("arshid/iris-flower-dataset", path=".", unzip=True)

# List the files in the current directory
files = os.listdir()

# Now you can directly access the dataset files without saving them to a specific folder
for file in files:
    if file.endswith('.csv'):
        print(f"Found CSV file: {file}")
        # Here you can perform further operations with the CSV file

Found CSV file: IRIS.csv

In [4]:
df_iris = pd.read_csv("IRIS.csv")

In [5]:
df_iris.shape

(150, 5)

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
df_iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
df = df_iris.copy()

In [12]:
print(df.isna().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [14]:
# we dont have missing values in df

In [15]:
# i decided to change df

In [16]:
!kaggle datasets list -s "iris"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.6.6)
ref                                                     title                                           size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------  ---------------------------------------------  -----  -------------------  -------------  ---------  ---------------
uciml/iris                                              Iris Species                                     4KB  2016-09-27 07:38:05         523082       3733  0.7941176
arshid/iris-flower-dataset                              Iris Flower Dataset                            1010B  2018-03-22 15:18:06         147394        816  0.8235294
himanshunakrani/iris-dataset                            Iris dataset                                   1006B  2022-07-20 18:50:06          16924        101  1.0
vikrishnan/iris-dataset                                 Iris Dataset                                    999B  2017-08-03 16:00:44          28328        108  0.7647059
parulpandey/palmer-archipelago-antarctica-penguin-data  Palmer Archipelago (Antarctica) penguin data    11KB  2020-06-09 10:14:54          67577        528  0.9705882
jillanisofttech/iris-dataset-uci                        Iris dataset uci                                 1KB  2021-11-06 15:11:47           1631         39  1.0
chuckyin/iris-datasets                                  Iris datasets                                    1KB  2017-03-10 09:35:43           3468         23  0.7352941
rtatman/iris-dataset-json-version                       Iris Dataset (JSON Version)                      1KB  2018-04-06 20:21:31          19171         88  0.75
jeffheaton/iris-computer-vision                         Iris Computer Vision                             5MB  2020-11-24 21:23:29           2280         29  0.875
therohk/ireland-historical-news                         Irish Times - Waxy-Wany News                    52MB  2021-09-25 10:52:48           3610        163  1.0
vijayaadithyanvg/iris-dataset                           IRIS DATASET                                   1023B  2023-01-14 07:44:53           1076         31  1.0
arslanali4343/iris-species                              Iris Species                                     2KB  2020-07-02 06:09:09            437         80  0.5625
samybaladram/iris-dataset-extended                      🌺 Iris Dataset Extended                        107KB  2023-10-27 12:28:22           1277         37  1.0
saurabh00007/iriscsv                                    Iris.csv                                         1KB  2017-11-09 07:34:35         110775        208  0.4117647
arunjangir245/irisraw                                   irisraw                                        1017B  2023-10-15 07:05:07            283         91  1.0
fleanend/birds-songs-numeric-dataset                    Birds' Songs Numeric Dataset                    25MB  2019-04-01 09:09:46           2421         36  0.9411765
conorrot/irish-weather-hourly-data                      Irish Weather (hourly data)                     67MB  2020-06-29 20:15:18           3110         50  0.8235294
sims22/irisflowerdatasets                               IRIS-FLOWER-DATASETS                             2KB  2022-12-26 18:33:34           1623         22  0.9411765
naureenmohammad/mmu-iris-dataset                        MMU iris dataset                                30MB  2020-07-25 18:38:33           3311         51  0.625
kamrankausar/iris-data                                  iris_data                                        1KB  2017-11-30 10:26:01           2028         24  0.64705884

In [17]:
# Initialize Kaggle API
api = KaggleApi()
api.authenticate()  # Make sure you have properly set up your Kaggle API credentials

# Download the dataset
api.dataset_download_files("uciml/iris", path=".", unzip=True)

# List the files in the current directory
files = os.listdir()

# Now you can directly access the dataset files without saving them to a specific folder
for file in files:
    if file.endswith('.csv'):
        print(f"Found CSV file: {file}")
        # Here you can perform further operations with the CSV file

Found CSV file: IRIS.csv

In [20]:
df_iris_new = pd.read_csv("IRIS.csv")
df_iris2 = df_iris_new.copy()

In [21]:
df_iris2.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [22]:
# this df is also "clean"

In [25]:
df.to_excel("cleaned_iris.xlsx")

In [26]:
df_excel = pd.read_excel("cleaned_iris.xlsx")

In [27]:
df_excel.describe()

       Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.054000      3.758667     1.198667
std     43.445368      0.828066     0.433594      1.764420     0.763161
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000

In [28]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   sepal_length  150 non-null    float64
 2   sepal_width   150 non-null    float64
 3   petal_length  150 non-null    float64
 4   petal_width   150 non-null    float64
 5   species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [32]:
df_excel[df_excel['sepal_length'] >= 5].to_json("iris_subset.json")